<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.epsilon.egl.eclipse.dt.launching.EglLaunchConfigurationDelegate">
<booleanAttribute key="appendToFile" value="false"/>
<listAttribute key="defaultFormatters"/>
<booleanAttribute key="fine_grained_profiling" value="false"/>
<intAttribute key="generateTo" value="1"/>
<listAttribute key="models">
<listEntry value="#Tue May 19 06:49:38 COT 2020&#13;&#10;isMetamodelFileBased=false&#13;&#10;name=cp&#13;&#10;readOnLoad=true&#13;&#10;storeOnDisposal=false&#13;&#10;aliases=cp&#13;&#10;cached=true&#13;&#10;fileBasedMetamodelUri=&#13;&#10;metamodelUri=ProyectoGrupo1&#13;&#10;modelUri=platform\:/resource/uniandes.mdd.grupo.uno.metamodels/models/Company.xmi&#13;&#10;reuseUnmodifiedFileBasedMetamodels=true&#13;&#10;type=EMF&#13;&#10;modelFile=/uniandes.mdd.grupo.uno.metamodels/models/Company.xmi&#13;&#10;expand=true&#13;&#10;metamodelFile="/>
</listAttribute>
<stringAttribute key="outputFilePath" value=""/>
<listAttribute key="parameters"/>
<booleanAttribute key="produceTrace" value="false"/>
<booleanAttribute key="profile_model_loading" value="false"/>
<booleanAttribute key="profiling_enabled" value="false"/>
<booleanAttribute key="reset_profiler" value="false"/>
<stringAttribute key="source" value="/uniandes.mdd.grupo.uno.metamodels/egl-transformations/saveComponent.egl"/>
<stringAttribute key="templateFactoryType" value="org.eclipse.epsilon.egl.EglFileGeneratingTemplateFactory"/>
<stringAttribute key="traceDestination" value=""/>
</launchConfiguration>
